html {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  color: royalblue;
  background-color: aliceblue;
  width: 100%;
  max-width: 1600px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
*,
*:before,
*,
:after {
  box-sizing: border-box;
}
/* Containers definitions */
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.header_division_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.default_container {
  display: flex;
  margin: 1rem;
}
.left_side_container {
  width: 100%;
  max-width: 300px;
}
.letter_container {
  max-height: 150px;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.output_container {
  width: 1280px;
  height: 720px;
  background-color: royalblue;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
.button_text {
  font-family: 'Roboto Condensed' sans-serif;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
}
.default_button {
  width: 160px;
  height: 45px;
  border-width: 0;
  border-radius: 10px;
  color: aliceblue;
  margin-bottom: 10px;
}
.swich_button {
  background-color: gray;
}
.swich_button:active {
  background-color: royalblue;
}
.swich_button:hover {
  transition: all 0.2s ease-in-out;
}
.hidden_element {
  display: none;
}
.select_text {
  font-family: 'Roboto Condensed' sans-serif;
  font-weight: normal;
  font-size: 14pt;
  text-align: center;
}
.default_select {
  width: 160px;
  height: 45px;
  border-width: 0;
  border-radius: 10px;
  background-color: aliceblue;
  color: royalblue;
  margin-bottom: 10px;
}
