// main: style.less

.main_container {
    display: flex;
}

.default_container {
    padding: 1rem;
    margin: 1rem;
}

.button_container {
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.video_container {
    width: 1280px;
    height: 720px;
    background-color: gray;
    border-radius: 10px;
}